@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
    --light-green: #f8fcf6;
    --green: #488a25;
    --gradient: linear-gradient(129deg, #71b920 0%, #488a25 100%);
    --grad-footer: linear-gradient(-90deg, rgba(72, 138, 37, 0) 0%, #488a25 100%);
}

* {
    margin: 0;
    padding: 0;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif !important;
}

@media (max-width: 412px) {
    p {
        font-size: 16px !important;
    }
}

.hover-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hover-horizontal:before,
.hover-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eff6ed;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hover-horizontal:hover,
.hover-horizontal:focus,
.hover-horizontal:active,
.navbar-nav>li.active .hover-horizontal,
.navbar-nav>li.dropdown li>a.hover-horizontal:hover,
.navbar-nav>li.dropdown li>a.hover-horizontal:focus,
.navbar-nav>li.dropdown li>a.hover-horizontal:active {
    color: #000;
}

.hover-horizontal:hover:before,
.hover-horizontal:focus:before,
.hover-horizontal:active:before,
.navbar-nav>li.active .hover-horizontal:before,
.navbar-nav>li.dropdown li>a.hover-horizontal:hover:before,
.navbar-nav>li.dropdown li>a.hover-horizontal:focus:before,
.navbar-nav>li.dropdown li>a.hover-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: var(--green);
}

.navbar {
    max-height: 124px;
    overflow: hidden;
    border-bottom: solid 3px #218d08;
    margin-bottom: 0;
}


.navbar-brand {
    /*padding: .5rem 4rem;*/
}

.navbar-brand img {
    max-height: 52px;
    filter: invert(48%) sepia(18%) saturate(1849%) hue-rotate(55deg) brightness(91%) contrast(82%);
}

.collapse {
    position: relative;
    right: -5px;
}

.collapse ul {
    margin: 10px;
}

.navbar-default .navbar-nav>li {
    margin-top: .5rem;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #eff6ed;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.btn-green {
    border-radius: 4px;
    background-color: var(--green);
    color: #FFF;
}

nav {
    filter: drop-shadow(0 0 22.5px rgba(0, 0, 0, 0.3));
}

.nav__content {
    border-bottom: 3px var(--green) solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    max-height: 120px;
    align-items: center;
}

.nav__content a img {
    position: absolute;
    bottom: -10px;
    object-fit: cover;
    align-self: start;
    margin-left: calc(100% / 12);
    filter: invert(48%) sepia(18%) saturate(1849%) hue-rotate(55deg) brightness(91%) contrast(82%);
}

.navbar-nav {
    margin-right: 15px !important;
}

.navbar-nav>li>a {
    padding-top: 19px;
    padding-bottom: 19px;
    margin: auto 5px;
}

.nav__content ul {
    text-align: right;
    margin: 0;
}

.nav__content ul li {
    padding: 3rem 1rem;
}

.nav__content ul .active {
    background-color: #eff6ed;
    border-radius: 5px;
}

.contactanos {
    z-index: 999;
    min-width: 250px;
    max-width: 350px;
    background: linear-gradient(129deg, #55bc00 50%, #218d08 70%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 90px 1fr;
    padding: 14px 0rem;
    transform: skew(25deg);
    color: #FFF;
}

.contactanos__icon {
    border-radius: 5px;
    position: relative;
    top: 10px;
    grid-row: 1 / 3;
    background-color: #83cd41;
    padding: 8px 10px;
    width: 35px;
    height: 36px;
    justify-self: center;
}

.contactanos__icon img {
    transform: skew(-25deg);
}

.contactanos p,
.contactanos h4 {
    position: relative;
    bottom: 10px;
    margin: auto 0;
    transform: skew(-25deg);
}

.contactanos h4 {
    margin-left: -5px;
    grid-column: 2 / 3;
}

.contactanos p {
    margin-left: 5px;
    font-size: 1rem;
}


@media (max-width: 992px) {
    .navbar-brand {
        margin-bottom: 0;
        padding: 0.5rem 0rem;
    }

    .navbar-header {
        float: none;
        border-bottom: solid 1px #218d08;
    }


    .navbar-collapse.collapse {
        display: none !important;
        height: 100% !important;
    }

    .navbar-collapse.collapse.in {
        overflow: visible;
        transition: 1s all ease;
        display: block !important;
        right: 0;
        position: fixed;
        z-index: 9999;
        background-color: var(--green);
        top: 80px;
    }

    .collapsing {
        transition: 1s all ease;
        overflow: hidden !important;
        right: -300px;
        position: absolute;
    }

    .navbar-nav {
        float: none !important;
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-brand {
        height: 52px;
    }

    .navbar-brand img {
        position: static;
    }

    .contactanos {
        transform: none;
        padding: 0;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-collapse ul {
        background-color: var(--green);
        height: 90vh;
    }

    .navbar {
        overflow: visible;
    }

    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        background-color: rgba(0, 0, 0, .5);
        color: #FFF;
    }

    .collapse ul {
        margin: 0;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgba(0, 0, 0, .5);
        color: #FFF;
        font-weight: bold;
    }

    .contactanos p,
    .contactanos h4,
    .contactanos img {
        transform: none;
    }

    .contactanos p,
    .contactanos h4 {
        margin-left: 0;

    }

    .container-fluid {
        border-bottom: solid 1px #218d08;
        padding: 0;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle {
        border: none;
        background-color: var(--green);
        border-radius: 1px;
        margin: 0;
        padding: 19px 15px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-brand img {
        height: 40px;
    }

    .navbar {
        border: none;
    }

    /* menu_despegale */
    .sidebar-wrapper {
        opacity: 1
    }

    .sidebar-nav li a {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 400;
        text-align: right;
        padding: 10px 10px;
        text-transform: initial;
    }

    .sidebar-nav li a .fa {
        margin-right: 12px;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .sidebar-nav li.active a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 0.15);
    }

    .sidebar-nav li {
        border-bottom: 1px dotted darkgreen;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: var(--green);
    }

    .sidebar-wrapper.right {
        background-color: var(--green);
        height: calc(100% - 52px);
    }

}

@media (max-width: 768px) {
    .navbar-header {
        margin-left: 0 !important;
    }
}

/*________________________________________*/
.section__hero {
    overflow: hidden;
    background: var(--light-green);
    padding-bottom: 10rem;

}

.hero--skew {
    position: relative;
    top: -60px;
    width: 110%;
    height: 65rem;
    margin-left: 12%;
    transform: skew(30deg, -5deg);
    border-radius: 2rem;
    overflow: hidden;
}

.hero__img {
    height: 100%;
    transform-origin: top left;
    transform: skew(-30deg, 5deg);
    background-image: url(images/recursos/o_1fkhkt0sol311l3b11pn1s4u847a.jpeg);
    background-color: var(--green);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: -350px 40px;
    background-size: cover;
}

.inner-hero {
    color: #fff;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-hero h1 {
    white-space: nowrap;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.75));
}

.inner-hero h4 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    font-family: "Poppins";
    filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.75));
}

.inner-hero button {
    font-size: 20px;
    border: none;
    color: green;
    margin-top: 2rem;
    width: 273px;
    height: 69px;
    border-radius: 4px;
    background-color: #ffffff;
}

@media (max-width: 1550px) {
    .inner-hero {
        left: 55%;
    }
}

@media (max-width: 1400px) {
    .inner-hero {
        left: 58%;
    }

    .inner-hero h1 {
        font-size: 5rem;
    }

    .inner-hero h4 {
        font-size: 3rem;
    }

    .inner-hero button {
        width: 170px;
        height: 50px;
        font-size: 1.5rem;
    }
}

@media (max-width: 1180px) {
    .inner-hero {
        left: 55%;
    }

    .inner-hero h1 {
        font-size: 4.5rem;
    }

    .inner-hero h4 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1056px) {
    .section__hero {
        padding-bottom: 0;
    }

    .inner-hero {}

    .inner-hero h1 {
        white-space: normal;
    }

    .hero--skew {
        border-radius: unset;
        transform: none;
        margin-left: 0;
    }

    .hero__img {
        transform: none;
    }
}

.articles {
    overflow: hidden;
}

.articles div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__one {
    perspective: 50rem;
    padding: 200px 0;
    background-color: var(--light-green);
}

.article__two {
    perspective: 40rem;
    padding: 150px 0;
}

.articles .article__one .article__img__content {
    overflow: hidden;
    width: 50%;
    height: 600px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 40px;
}
.articles .article__two .article__img__content {
    overflow: hidden;
    width: 50%;
    height: 600px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 20px;
}

.article__one .article__img__content {
    transform: rotateY(-10deg) skew(-20deg, 0deg);
    position: absolute;
    right: -5%;

}

.article__two .article__img__content {
    transform: rotateY(10deg) skew(-20deg, 0deg);
    position: relative;
    left: -75px;
}

.article__one .article__img__content img {
    object-fit: cover !important;
    width: 125%;
    height: 150%;
    transform-origin: bottom;
    transform: rotateY(10deg) skew(20deg, 0deg);
}

.article__img__content img {
    border-radius: 3rem;
    box-shadow: 0px 4px 5px grey;
}


.article__two .article__img__content img {
    transform-origin: right;
    width: 125%;
    transform: rotateY(-10deg) skew(20deg, 5deg);
}

.patch-img {
    position: absolute;
    left: -400px;
    top: 50%;
}

.articles article {
    max-width: 40%;
    margin: 0 25rem;
}
.article__one article {
    margin: 0;
    margin-left: 20vh;
}
.article__two article {
    /*margin: 0 12rem;*/
    margin: 0;
    margin-right: 10vh;
}

.article__one h1 {
    margin-left: -8rem;
    margin-bottom: 3rem;
    background: var(--light-green);

}

.article__one h1 img {
    background: var(--light-green);
    margin-right: 1rem;
    padding-bottom: 5px;
    height: 45px;
    position: relative;
    z-index: 999999999999;
}

.article__one h1 span:before {
    content: " ";
    height: 1px;
    width: 25vw;
    background: #55bc00;
    display: block;
    position: absolute;
    left: 0;
    margin-top: 2.5rem;
    z-index: -999;
}

.article__two h1 {
    margin: 0;
}

.articles article h1 {
    white-space: nowrap;
    font-size: 45px;
    line-height: 50px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
}

.article__one article p {
    color: #707070;
}

.article__two article p {
    color: #6e6e6e;

}

.articles article p {
    font-family: "Open Sans";
    max-width: 570px;
    /*height: 275px;*/
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
}

.content__button {
    display: flex;
    align-items: center;
}

.articles button {
    background-color: var(--green);
    color: #f8fcf6;
    padding: 0.5rem 4rem;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    margin: 0 auto;
    margin-bottom: 100px;
}

.articles article p {
    margin-top: 2rem;
}

.articles .article__one article h1 span img {
    margin-bottom: 6px;
}

.adorno {
    display: flex;
    align-items: center;
    margin-left: -5rem;
    margin-top: -1.4rem;
}

.adorno img {
    width: 40px;
    height: 40px;
}

.adorno:after {
    margin-top: 10px;
    margin-bottom: 5px;
    content: " ";
    height: 1px;
    width: 130px;
    background: #55bc00;
    display: block;
    position: absolute;
    margin-left: 41px;
}

@media (max-width: 1300px) {
    .articles article h1 {
        font-size: 4rem;

    }
    .articles .article__one article {
        /*margin: 0 12rem;*/
    }
    .articles .article__two article {
        /*margin: 0 10rem;*/
    }

    .article__one {
        overflow: hidden;

    }
    .article__one .article__img__content {
        right: -15%;
    }
    .article__one h1 span:before {
        left: 0;
    }
    .article__two {
        perspective: 40rem;
    }
    .article__two article h1 {
        font-size: 3.5rem;
    }
    .articles .article__two article {
        margin-left: 4vw;
    }
}

@media (max-width: 992px) {
    .article__two .article__img__content img {
        height: 700px;
        transform-origin: top;
    }
    .articles .article__two {
        perspective: 80rem;
    }

    .articles .article__two article {
        padding-top: 100px;
    }
    .articles .article__one .article__img__content,
    .articles .article__two .article__img__content {
        width: 100%;
        height: 400px
    }
    .article__two article {
        margin-top: 100px;
    }

    .article__one article h1 {
        font-size: 3.5rem;
        text-align: left;
        margin-left: 0;
    }

    .article__one,
    .article__two {
        flex-direction: column;
    }

    .articles .article__img__content {
        height: 360px;
    }

    .article__one {
        padding-top: 0;
        padding-bottom: 100px;
    }

    .article__two {
        padding-bottom: 0;
        padding-top: 100px;
    }

    .article__one article,
    .article__two article {
        max-width: 100%;
    }

    .article__one .article__img__content {
        position: relative;
        right: -23%;
    }

    .articles .article__img__content {
        width: 100%;
    }

    .article__one .article__img__content img {
        width: 100%;
        height: 130%;
        object-fit: contain;
    }

    .articles article {
        margin: 4rem 3rem;
    }

    .articles article p {
        height: 100%;
        margin-bottom: 5rem;
    }

    .article__two article h1 {
        font-size: 3.5rem;
        text-align: center;

    }

    .patch-img {
        height: 400px;
        left: -200px;
        top: 25%;
    }

    .article__two .article__img__content {
        left: -23%;
    }

    .adorno {
        display: none !important;
        margin-left: 0;
    }

}

@media (max-width: 730px) {
    .article__one h1 span:before {
        height: 0;
    }
    .article__one article h1 {
        text-align: center;
    }
}

@media (max-width: 612px) {
    .article__two .article__img__content {
        /*margin-bottom: 40%;*/
    }
    .articles article {
        margin: auto 0;
    }

    .articles article h1 {
        font-size: 3rem;
    }

    .article__one h1 img {
        margin-right: 0;
    }

    .articles .article__two .adorno {
        display: none;
        margin-left: 0;
    }

    .article__one h1 {
        margin-left: 0;
    }

    .article__one article p,
    .article__two article p {
        margin: 20px 20px 40px 20px;
    }
}

@media (max-width: 412px) {
    .article__two article h1 {
        font-size: 2.7rem;
    }

    .article__one h1 img {
        display: none;
        margin-right: 1rem;
    }

    .article__one article h1 {
        font-size: 2.7rem;
    }
}

@media (max-width: 360px) {
    .article__two article h1 {
        font-size: 2.5rem;
    }
}

/*_________*/
.tipos {
    overflow: hidden;
}

.tipos h1 {
    white-space: nowrap;
    margin: 0;
    padding: 1.5rem 0;
    opacity: .5;
    text-align: center;
    color: var(--green);
    border-top: .1px #83cd41 solid;
    font-size: 65px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.content_ul {
    display: flex;
    align-items: center;
}

.content_ul ul {
    margin: 0 auto;
}

.select-options {
    gap: 20px;
}

.tab-content>.active {
    display: flex;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs a {
    color: #000;
    padding: 6px 12px;
}

.select-options .btn {
    padding: 0;
    background-color: #FFF;
    margin: 0 1rem;
    border: 1px solid #bfdeb3;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    cursor: default;
    background-color: var(--green);
    color: #FFF;
    border: none;
}

.select-options .active {
    background-color: var(--green);
}

.skew_container {
    background-image: url(icons/Forma_corte_fondo_verde.svg);
    background-color: var(--light-green);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 4%;
}

.skew_container .bg-skew {
    text-align: center;
    padding-top: 9%;
    margin-top: -9%;
}

.skew_container .bg-skew .inner-skew {
    margin: auto;
    padding: 5rem 0;
}

.article__1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.the_article {
    padding: 5rem 3rem;
}

.article__1 h3 {
    margin: 0;
    text-align: left;
    white-space: nowrap;
    font-size: 4rem;
    letter-spacing: -1px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
}

.article__1 p {
    max-width: 571px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #707070;
    font-weight: 400;
    font-family: "Open Sans";
}

.article-img {
    max-width: 50%;
    padding: 5rem;
}

.skew-img {
    width: 523px;
    transform: skew(-5deg, 0deg);
    align-self: center;
    overflow: hidden;
    border-radius: .5rem;
    filter: drop-shadow(1px 1.732px 5px rgba(0, 0, 0, 0.45));
}

.skew-img img {
    background-color: #75bc56;
    transform-origin: bottom;
    transform: skew(5deg, 0deg);
    height: 382px;
}

.the_article button {
    margin-top: 4rem;
    width: 174px;
    height: 40px;
    border-radius: 5px;
    background-color: #488a25;
    outline: none;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #f9fbf8;
    font-weight: 400;
}

.select-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article__1 {
    width: 70%;
    justify-content: space-around;
    margin: 10rem auto;
    column-gap: 10rem;
}

.the_article,
.article-img {
    padding: 0;
}

@media (max-width: 1440px) {
    .article__1 {
        /*margin: 0 10rem;*/
        width: 80%;
    }
}

@media (max-width: 1295px) {
    .article__1 {
        column-gap: 5rem;
    }
}

@media (max-width: 1200px) {
    .article__1 {
        flex-direction: column;
    }

    .the_article {
        padding-bottom: 4rem;
    }

    .article-img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .article-img {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .skew-img {
        width: auto;
        transform: none;
    }

    .skew-img img {
        transform: none;
    }

    .skew_container .bg-skew {
        padding-top: 0;
    }

    .tipos h1 {
        font-size: 3.7rem;
    }

    .skew_container .bg-skew {
        padding-top: 0;
        margin-top: 0;
    }

    .article__1 h3 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .article__1 .the_article .adorno {
        display: none;
    }
}

@media (max-width: 800px) {
    .select-options button {
        width: 40%;
    }
}
@media (max-width: 612px) {
    .article__1 {
        width: 100%;
    }
    .article__1 .the_article p {
        margin: 0 20px;
    }
    .article__1 .article-img {
        width: 80%;
    }
}
@media (max-width: 550px) {
    .article__1 h3 {
        font-size: 3rem;
    }
}

@media (max-width: 466px) {
    .content_ul .select-options {
        gap: 0;
    }

    .content_ul .select-options li {
        margin-bottom: 1rem;
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 412px) {
    .tipos h1 {
        font-size: 2.5rem;
    }

    .article__1 h3 {
        font-size: 2.8rem;
    }

    .content_ul .select-options {
        gap: 5px;
        text-align: center;
        justify-content: center;
    }

    .content_ul .select-options li {
        font-size: 1em;
    }

    .content_ul .select-options li a {
        padding: 6px 12px;
    }
}

@media (max-width: 375px) {
    .content_ul .select-options li {}

    .tipos h1 {
        font-size: 2.2rem;
    }

    .article__1 h3 {
        font-size: 2.2rem;
    }
}

/*_________________*/

.install {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20rem auto;
}

.install__article {
    margin-left: 5rem;
    height: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.install__article h1 {
    margin: 0;
    font-size: 45px;
    letter-spacing: -1px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
}

.install__article p {
    max-width: 573px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #707070;
    font-weight: 400;
}

.install .install_img img {
    width: 100%;
    height: 524px;
    object-fit: cover;
    border-radius: 1rem;
}

@media (max-width: 1200px) {
    .install {
        flex-direction: column;
        margin: 10rem auto;
    }

    .install .install_img {
        width: 100%;
        object-fit: cover;
    }

    .install__article {
        align-items: center;
        width: 100%;
        margin-left: 0;
        margin-top: 4rem;
    }

    .install__article .adorno {
        display: none;
    }

    .install__article p {
        margin-top: 3rem;
    }
}
@media (max-width: 612px) {
    .install {
        margin: 10rem 0;
        width: 100%;
    }
    .install_img {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .install__article p {
        margin: 20px;
    }
    .install__article {
        padding: 0;
    }
}
@media (max-width: 420px) {
    .install__article h1 {
        font-size: 3.2rem;
        height: auto;
    }
}

@media (max-width: 375px) {
    .install__article h1 {
        font-size: 2.8rem;
        height: auto;
    }
}

.slider-plants {
    background-color: #f0eeee;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.slider-plants img {
    width: calc(100% / 4);
    height: 398px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .slider-plants img {
        width: 100%;
    }

    .slider-plants {
        flex-direction: column;
    }
}

/*_____________________*/
.info-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 318px;
    width: 100%;
    background: linear-gradient(-90deg, rgba(72, 138, 37, 0) 0%, #488a25 60%), url('images/lawn_edger_-_englewood_oh_cropped.yc2YNYi88 copia.jpg');
    background-position: center center;
}

.info__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    height: 50%;
    width: 70%;
    margin: 0 auto;
    color: #FFF;
}

.info__content .info__logo {
    padding-bottom: 1rem;
    object-fit: cover;
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(351deg) brightness(103%) contrast(101%);
}

.info__content ul {
    margin-bottom: 0;
    margin-right: 2rem;
}

.info__content ul li {
    margin: 2.2rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-self: center;
}

.info__content ul li a {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.info__content ul li img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.info__content-datos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.info__content button {
    padding: 0 35px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    color: green;
    background-color: #FFF;
}

.info__content a,
.info__content a:visited {
    color: #FFF;
    font-size: 18px;
}

.info__content ul li a div {
    display: inline-block;
}

.info__content-datos .baloo {
    font-weight: 500;
    font-family: 'Baloo 2', cursive;
}

@media (max-width: 1460px) {
    .info__content {
        width: 80%;
    }
}
@media (max-width: 1260px) {
    .info__content-datos {
        gap: 10px;
    }
}
@media (max-width: 1150px) {
    .info__content button {
        font-size: 16px;
    }
}
@media (max-width: 1160px) {
    .info__content {
        width: 90%;
    }
}
@media (max-width: 1160px) {
    .info__content {
        width: 95%;
    }
    .info__content-datos {
        gap: 5px;
    }
    .info__content button {
        padding: 0 25px;
    }
}
@media (max-width: 940px) {
    .info__content {
        width: 99%;
    }
}
@media (max-width: 900px) {
    .info__content a {
        margin-bottom: 1rem;
    }
    .info-section {
        height: 100%;
        padding: 3rem;
    }
    .info__content {
        flex-direction: column;
    }
    .info__content-datos {
        flex-direction: column;
        gap: 1rem;
    }
    .info__content ul {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .info__content ul li a div {
        display: inline-block;
    }
}

/*_______________________*/
footer {
    background-color: #3f7d1e;
    color: #fff;
}

.footer__content {
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__content .copyright {
    margin: auto 0;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
}

.footer__content .copyright p {
    margin: 0 1rem;
}

.footer__info {
    font-weight: 500;
    text-align: right;
}

.footer__info a {
    margin: 0 5px;
}

footer a,
footer a:hover,
footer a:visited {
    color: #fff;
}

@media (max-width: 1200px) {
    .footer__info {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .footer__content {
        flex-direction: column;
    }

    footer .footer__content .copyright {
        flex-direction: column;
        text-align: center;
    }

    .footer__content .copyright p {
        margin-bottom: 1rem;
    }
}