@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

:root {
    --light-green: #f8fcf6;
    --green: #488a25;
    --gradient: linear-gradient(129deg, #71b920 0%, #488a25 100%);
    --grad-footer: linear-gradient(-90deg, rgba(72, 138, 37, 0) 0%, #488a25 100%);
}

* {
    margin: 0;
    padding: 0;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: var(--green);
}

.navbar {
    max-height: 124px;
    overflow: hidden;
    border-bottom: solid 3px #218d08;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-brand img {
    margin-top: 3px;
    max-height: 65px;
    filter: invert(48%) sepia(18%) saturate(1849%) hue-rotate(55deg) brightness(91%) contrast(82%);
}

.collapse {
    position: relative;
    right: -20px;
}

.collapse ul {
    margin: 10px ;
}

.navbar-default .navbar-nav>li {
    margin-top: .5rem;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #eff6ed;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #eff6ed;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.btn-green {
    border-radius: 4px;
    background-color: var(--green);
    color: #FFF;
}

nav {
    filter: drop-shadow(0 0 22.5px rgba(0, 0, 0, 0.3));
}

.nav__content {
    border-bottom: 3px var(--green) solid;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*overflow: hidden;*/
    justify-content: space-between;
    max-height: 120px;
    align-items: center;
}

.nav__content a img {
    position: absolute;
    bottom: -10px;
    object-fit: cover;
    align-self: start;
    margin-left: calc(100% / 12);
    filter: invert(48%) sepia(18%) saturate(1849%) hue-rotate(55deg) brightness(91%) contrast(82%);
}

.nav__content ul {
    text-align: right;
    margin: 0;
}

.nav__content ul li {
    padding: 3rem 1rem;
}

.nav__content ul .active {
    background-color: #eff6ed;
    border-radius: 5px;
}

.contactanos {
    z-index: 999;
    width: 250px;
    /*background: linear-gradient(129deg, #71b920 0%, #488a25 70%);*/
    background: linear-gradient(129deg, #55bc00 50%, #218d08 70%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 90px 1fr;
    padding: 1rem 0;
    transform: skew(25deg);
    color: #FFF;
}

.contactanos__icon {
    position: relative;
    top: 10px;
    grid-row: 1 / 3;
    background-color: #83cd41;
    /*background-color: ;*/
    padding: 1rem;
    width: 44px;
    height: 44px;
    justify-self: center;
}

.contactanos__icon img {
    transform: skew(-25deg);
}

.contactanos p,
.contactanos h4 {
    position: relative;
    bottom: 10px;
    margin: auto 0;
    transform: skew(-25deg);
}

.contactanos h4 {
    grid-column: 2 / 3;
}

.contactanos p {
    margin-left: 5px;
    font-size: 1.2rem;
}

@media (max-width: 350px) {
    .navbar-brand {
        width: 150px;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        margin-bottom: 0;
    }

    .navbar-header {
        float: none;
        /*border-bottom: 0px solid #002ba6;*/
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-toggle {
        margin: 15px;
        padding: 19px 15px;
        border: 0px;
        background-color: var(--green);
        border-radius: 0;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-collapse.collapse {
        display: none !important;
        height: 100% !important;
    }

    .navbar-collapse.collapse.in {
        overflow: visible;
        transition: 1s all ease;
        display: block !important;
        right: 0;
        position: fixed;
        z-index: 9999;
        background-color: var(--green);
        top: 80px;
    }

    .collapsing {
        transition: 1s all ease;
        overflow: hidden !important;
        right: -300px;
        position: absolute;
    }

    .navbar-nav {
        float: none !important;
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-text {
        float: none;
        margin: 15px 0;
    }

    .navbar-brand {
        height: 60px;
    }

    .navbar-brand img {
        position: static;
    }

    .contactanos {
        transform: none !important;
        padding: 0;
    }

    .navbar-collapse {
        padding: 0 !important;
    }

    .navbar-collapse ul {
        background-color: var(--green);
        height: 90vh;
    }

    .navbar {
        overflow: visible !important;
    }

    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 100% !important;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        background-color: rgba(0, 0, 0, .5) !important;
        color: #FFF;
    }

    .collapse ul {
        margin: 0 !important;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgba(0, 0, 0, .5) !important;
        color: #FFF;
        font-weight: bold;
    }

    .contactanos p,
    .contactanos h4,
    .contactanos img {
        transform: none !important;
    }
}


/*________________________________________*/
.section__hero {
    overflow: hidden;
    background: var(--light-green);
    padding-bottom: 10rem;

}

/*.hero {*/
.hero--skew {
    position: relative;
    top: -60px;
    width: 110%;
    height: 65rem;
    /*height: 95rem;*/
    margin-left: 12%;
    transform: skew(30deg, -5deg);
    border-radius: 2rem;
    overflow: hidden;
    /*border: 1px solid black;*/
}

.hero__img {
    height: 100%;
    transform-origin: top left;
    transform: skew(-30deg, 5deg);
    background-image: url(images/recursos/o_1fkhkt0sol311l3b11pn1s4u847a.jpeg);
    background-color: var(--green);
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-position: -350px 40px;
    background-size: cover;
}

.inner-hero {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner-hero h1 {
    white-space: nowrap;
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.75));
}
.inner-hero h4 {
    font-size: 34px;
    color: #ffffff;
    font-weight: 500;
    font-style: italic;
    font-family: "Poppins";
    filter: drop-shadow(1px 1.732px 1px rgba(0, 0, 0, 0.75));
}
.inner-hero button {
    font-size: 20px;
    border: none;
    color: green;
    margin-top: 2rem;
    width: 273px;
    height: 69px;
    border-radius: 4px;
    background-color: #ffffff;
}
@media (max-width: 1550px) {
    .inner-hero {
        top: 35%;
        left: 55%;
    }
}
@media (max-width: 1400px) {
    .inner-hero {
        left: 58%;
    }
    .inner-hero h1 {
        font-size: 5rem;
    }
    .inner-hero h4 {
        font-size: 3rem;
    }
    .inner-hero button {
        width: 170px ;
        height: 50px;
        font-size: 1.5rem;
    }
}
@media (max-width: 1180px) {
    .inner-hero {
        left: 55%;
    }
    .inner-hero h1 {
        font-size: 4.5rem;
    }
    .inner-hero h4 {
        font-size: 2.5rem;
    }
}
@media (max-width: 1056px) {
    .inner-hero {
        top: 50%;
    }
    .inner-hero h1 {
        white-space: normal;
    }
    .hero--skew {
        transform: none;
        margin-left: 0;
    }
    .hero__img {
        transform: none;
    }
}


.articles {
    overflow: hidden;
}

.articles div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__one {
    perspective: 50rem;
    padding: 100px 0;
    background-color: var(--light-green);
}

.article__two {
    perspective: 50rem;
    padding: 150px 0;
    margin-bottom: 100px;
}

.article__onw .articles .article__img__content {
    /*overflow: hidden;*/
}
.articles .article__img__content {
    overflow: hidden;
    width: 50%;
    height: 450px;
    border-radius: 20px;
}

.article__one .article__img__content {
    transform: rotateY(-10deg) skew(-20deg, 0deg);
    position: absolute;
    right: -5%;

}

.article__two .article__img__content {
    transform: rotateY(10deg) skew(-20deg, 0deg);
    position: relative;
    left: -50px;
}

.article__one .article__img__content img {
    object-fit: cover !important;
    width: 125%;
    height: 150%;
    transform-origin: bottom;
    transform: rotateY(10deg) skew(20deg, 0deg);
}

.article__img__content img {
    border-radius: 3rem;
    box-shadow: 0px 4px 5px grey;
}


.article__two .article__img__content img {
    transform-origin: right;
    width: 125%;
    transform: rotateY(-10deg) skew(20deg, 5deg);
}

.patch-img {
    position: absolute;
    left: -400px;
    top: 25%;
}
.articles article {
    max-width: 30%;
    margin: 0 25rem;
}
.article__two article {
    margin: 0 20rem;
}

.articles article h1 {
    white-space: nowrap;
    margin-bottom: 3rem;
    /*height: 77px;*/
    font-size: 45px;
    line-height: 50px;
    color: #333333;
    font-weight: 700;
    font-family: "Poppins";
}

.articles article p {
    /*width: 570px;*/
    height: 275px;
    color: #6e6e6e;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 400;
    font-size: 18px;
}

.articles button {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    bottom: 100px;
    background-color: var(--green);
    color: #f8fcf6;
    width: 272px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
}

@media (max-width: 1300px) {
    .articles article h1 {
        font-size: 4rem;
    }
    .articles article {
        margin: 0 15rem !important;
    }
    .article__one {
        overflow: hidden;

    }
    .article__one .article__img__content {
        right: -15%;
    }
}

@media (max-width: 992px) {
    .article__one,
    .article__two {
        flex-direction: column;
    }
    .articles .article__img__content {
        height: 360px;
    }
    .article__one {
        padding-top: 0;
    }
    .article__two {
        padding-bottom: 0;
    }
    .article__one article,
    .article__two article {
        max-width: 100% !important;
    }
    .article__one .article__img__content {
        position: relative;
        right: -23%;
    }
    .articles .article__img__content {
        width: 100%;
    }
    .article__one .article__img__content img {
        width: 100%;
        height: 130%;
        object-fit: contain;
    }
    .articles article {
        margin: 4rem 3rem !important;
    }
    .articles article p {
        height: 100% !important;
        margin-bottom: 5rem;
    }
    .articles article h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    .patch-img {
        top: 10%;
    }
    .article__two .article__img__content {
        left: -23%;
    }
}
@media (max-width: 612px) {
    .article__two .article__img__content {
        margin-bottom: 40%;
    }
    .articles article h1 {
        font-size: 3.2rem;
    }
    .patch-img {
        left: -450px;
    }
}
@media (max-width: 392px) {
    .articles article h1 {
        white-space: normal;
    }
}

.tipos {
    overflow: hidden;
}

.tipos h1 {
    margin: 0;
    padding: 1rem 0;
    opacity: .5;
    text-align: center;
    color: var(--green);
    border-top: 1px var(--green) solid;
    font-size: 65px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
}

.skew_container {
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 4%;
    min-height: 100vh;
}

.skew_container .bg-skew {
    background: var(--light-green);
    /*background: red;*/
    text-align: center;
    /*padding-top: 130px;*/
    padding-top: 9%;
    margin-top: -9%;
    /*margin-top: -20%;*/
    /*width: 300vh;*/
    /*height: 125vh;*/
    transform: skewY(5deg);
    /*transform: skew(330deg, 330deg);*/
    /*transform: skew(60deg, 357deg);*/
    /*border-radius: 1rem;*/
}

.skew_container .bg-skew .inner-skew {
    width: 70%;
    margin: auto;
    padding: 5rem 0;
    transform: skewY(-5deg);
    /*transform: skew(-60deg, -357deg);*/
}

.article__1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.the_article {
    padding: 5rem 3rem;
}

.article__1 h3 {
    /*width: 573px;*/
    /*white-space: nowrap;*/
    /*height: 115px;*/
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 73px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
}

.article__1 p {
    /*width: 571px;*/
    /*height: 275px;*/
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #707070;
    font-weight: 400;
    /*font-family: "Open Sans";*/
}

.article-img {
    max-width: 50%;
    padding: 5rem;
}

.skew-img {
    width: 523px;
    transform: skew(-5deg, 0deg);
    align-self: center;
    overflow: hidden;
    border-radius: .5rem;
    filter: drop-shadow(1px 1.732px 5px rgba(0, 0, 0, 0.45));
}

.skew-img img {
    background-color: #75bc56;
    transform-origin: bottom;
    transform: skew(5deg, 0deg);
    height: 382px;
}

.the_article button {
    width: 174px;
    height: 40px;
    border-radius: 5px;
    background-color: #488a25;
    outline: none;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #f9fbf8;
    font-weight: 400;
}

@media (max-width: 992px) {
    .article__1 {
        flex-direction: column;
    }

    .skew-img {
        width: auto !important;
    }

    .article-img {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .the_article {
        padding: 4rem 0;
        text-align: center;
    }

    .skew_container .bg-skew {
        padding-top: 0;
    }

    .skew_container .bg-skew .inner-skew {
        width: 90%;
    }

    .tipos h1 {
        font-size: 27px;
    }

    .select-options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skew_container .bg-skew {
        padding-top: 0;
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .select-options button {
        width: 40%;
    }
}
.select-options {
    gap: 20px;
}

.select-options button {
    background-color: #FFF;
    margin: 0 1rem;
    border: 1px solid #bfdeb3;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 50px;
    color: #000000;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

@media (min-width: 515px) and (max-width: 992px) {
    .article-img {
        width: 440px !important;
    }
}

.select-options .active {
    background-color: var(--green);
    color: #FFF;
}

.install {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*height: 100vh;*/
    align-items: center;
    width: 90%;
    margin: 20rem auto;
}

.install__article {
    margin-left: 5rem;
    height: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
}

.install__article h1 {
    height: 115px;
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 73px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
}

.install__article p {
    /*width: 573px;*/
    /*height: 276px;*/
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #707070;
    font-weight: 400;
}

.install img {
    width: 765px;
    height: 524px;
    border-radius: 10px;
    /*background-color: #ccab40;*/
    object-fit: cover;
}

@media (max-width: 995px) {
    .install {
        /*height: 20% !important;*/
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .install img {
        width: 100%;
        height: 375px !important;
        object-fit: cover;
    }

    .install__article {
        width: 100%;
        margin-left: 0;
        margin-top: 4rem;
    }
}
@media (max-width: 515px) {
    .install__article h1 {
        font-size: 35px;
        height: auto;
    }
}
.slider-plants {
    background-color: #f0eeee;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.slider-plants img {
    width: calc(100% / 4);
    height: 398px;
    object-fit: cover;
}

.info-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 318px;
    width: 100%;
    background: linear-gradient(-90deg, rgba(72, 138, 37, 0) 0%, #488a25 50%), url('images/lawn_edger_-_englewood_oh_cropped.yc2YNYi88 copia.jpg');
    background-position: center center;
}

.info__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    height: 50%;
    width: 70%;
    margin: 0 auto;
    color: #FFF;
}

.info__content .info__logo {
    object-fit: cover;
    filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(351deg) brightness(103%) contrast(101%);
}

.info__content ul {
    margin-bottom: 0;
    margin-right: 2rem;

}

.info__content ul li {
    margin: 1rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    align-self: center;
}

.info__content ul li a {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    /*text-overflow:ellipsis;*/
}

.phone {
    font-family: "Baloo";
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
}

.info__content ul li img {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.info__content-datos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.info__content button {
    width: 272px;
    height: 70px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 60px;
    font-weight: 500;
    color: green;
    background-color: #FFF;
}

.info__content a,
.info__content a:visited {
    color: #FFF;
}

.info__content ul li a div {
    display: inline-block;
}

@media (max-width: 1200px) {
    .info__content {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .info__content {
        width: 90%;
    }

    .info-section {
        height: 100%;
        padding: 3rem;
    }

    .info__content {
        /*margin: 2rem 0;*/
        width: 90% !important;
        flex-direction: column;
    }

    .info__content-datos {
        flex-direction: column;
    }

    .info__content ul {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .info__content ul li a div {
        display: inline-block;
    }
}

footer {
    background-color: #3f7d1e;
    color: #fff;
}

.footer__content {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer__content .copyright {
    margin: auto 0;
    font-size: 1.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
}

.footer__content .copyright p {
    margin: 0 1rem;
}

.footer__info {
    font-weight: 500;
    text-align: right;
}

.footer__info a {
    margin: 0 5px;
}

footer a,
footer a:hover,
footer a:visited {
    color: #fff;
}

@media (max-width: 1200px) {
    .footer__info {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .footer__content {
        flex-direction: column;
    }

    footer .footer__content .copyright {
        flex-direction: column;
        text-align: center;
    }
}